Embeds/partyRouletteBot.json
Embeds/drinkBot.json
Embeds/drinkingGameBot.json
Embeds/bouncerBot.json
Embeds/eventInviterBot.json
Embeds/informasjonUtvikler.json
Embeds/informasjonPartyRoulette.json
Embeds/informasjonModerator.json